
body{
    background: #EBF7FF;
    font-family: sans-serif;
}

.main {
    display: flex;
    justify-content:space-around;
}

.logo{
    position: relative;
    bottom: -210px;
    
}
.logo h1{
    color: var(--Black, #010E17);
    text-align: center;
    font-family: Outfit;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.form_number{
    position: relative;
    bottom: -200px;
    display: flex;
    flex-direction: column;
    margin: 5px;
   
}

.createInput{
    width: 98%;
    height: 52px;
    flex-shrink: 0;
    font-size: 20px;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid #64737A;
    background: #FFF;
    background-image: url("../images/user.svg");  
    background-repeat: no-repeat; 
    background-position-x: 98%;
    background-position-y: center;
    display: flex;
    flex-direction: column;   
    
}



.form_number button{
    width: 399px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 5px;
    font-size: 20px;
    color: #FFF;
    background: var(--CTA-color, #06F);
    margin-top: 35px;
    margin-left: 7px;
    border: none;
    cursor: pointer; 
    
}

.form_number button:hover{
    background: rgb(233, 80, 33);
}

.text {
    text-align: center;
}

.textParticipants {
color: var(--Black, #010E17);
text-align: center;
font-family: Outfit;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.inputsContainer{
    overflow-y: scroll;
    max-height: 500px;
}


/* Responsivite */

@media screen and (max-width: 1239px) {

    .main {
        display: block;
        padding: 20px;
        height: 200px;
        width: 100%;
    }

    .logo{
        position: relative;
        bottom: -40px;
        display: block;
        align-items: center;
    }
   
    
    img{
        margin: 20%;
        height: 70px;
    }

    h1{
       margin: auto;
       height: 50px;

    }

    .form_number{
        display: flex;
        margin: 30px;
        bottom: -15%;
    }

 
    #btnValider2 {
        margin: 20px auto;
        width: 98%;
        height: 52px;
    }

    p{
       margin-bottom: 40px;
    }
    .question{
        margin: 10px;
    }

    .inputsContainer{
        overflow-y: scroll;
        max-height: 500px;
    }

    
   

}

  

   

